---
- name: Create config directories
  ansible.builtin.file:
    group: "{{ group }}"
    mode: "0755"
    owner: "{{ username }}"
    path: "~/.config/{{ item }}"
    state: directory
  loop:
    - vdirsyncer
    - khard
    - khal
    - todoman
- name: Configure vdirsyncer settings
  ansible.builtin.template:
    src: vdirsyncer.conf.j2
    dest: "~/.config/vdirsyncer/config"
    owner: "{{ username }}"
    group: "{{ group }}"
    mode: "0644"
- name: Configure khard settings
  ansible.builtin.template:
    src: khard.conf.j2
    dest: "~/.config/khard/khard.conf"
    owner: "{{ username }}"
    group: "{{ group }}"
    mode: "0644"
- name: Configure khal settings
  ansible.builtin.template:
    src: khal.conf.j2
    dest: "~/.config/khal/config"
    owner: "{{ username }}"
    group: "{{ group }}"
    mode: "0644"
- name: Copy todoman config
  ansible.builtin.copy:
    src: todoman.config.py
    dest: "~/.config/todoman/config.py"
    owner: "{{ username }}"
    group: "{{ group }}"
    mode: "0644"
