---
- name: Create config directories
  ansible.builtin.file:
    group: "{{ group }}"
    mode: "0755"
    owner: "{{ username }}"
    path: "~/.config/{{ item }}"
    state: directory
  loop:
    - mutt
    - msmtp
- name: Create cache directory
  ansible.builtin.file:
    group: "{{ group }}"
    mode: "0755"
    owner: "{{ username }}"
    path: "~/.cache/mutt"
    state: directory
- name: Configure neomutt settings
  ansible.builtin.template:
    src: muttrc.j2
    dest: "~/.config/mutt/muttrc"
    owner: "{{ username }}"
    group: "{{ group }}"
    mode: "0644"
- name: Configure neomutt settings
  ansible.builtin.template:
    src: signature.j2
    dest: "~/.config/mutt/signature"
    owner: "{{ username }}"
    group: "{{ group }}"
    mode: "0644"
- name: Configure neomutt settings
  ansible.builtin.template:
    src: msmtprc.j2
    dest: "~/.config/msmtp/config"
    owner: "{{ username }}"
    group: "{{ group }}"
    mode: "0644"
- name: MacOS exceptions
  when: ansible_facts['os_family'] == 'Darwin'
  block:
    - name: Download neomutt theme
      ansible.builtin.get_url:
        url: "{{ neomutt_theme }}"
        dest: "~/.config/mutt/theme.neomuttrc"
        mode: "0644"
        force: false
    - name: Create local bin dir
      ansible.builtin.file:
        mode: "0755"
        owner: "{{ username }}"
        group: "{{ group }}"
        path: "~/.local/bin/"
        state: directory
    - name: Copy neomutt wrapper
      ansible.builtin.copy:
        src: "neomutt.sh"
        dest: "~/.local/bin/neomutt"
        owner: "{{ username }}"
        group: "{{ group }}"
        mode: "0755"
