---
- name: Create config directories
  ansible.builtin.file:
    group: "{{ group }}"
    mode: "0755"
    owner: "{{ username }}"
    path: "~/.config/{{ item }}"
    state: directory
  loop:
    - mutt
    - msmtp
- name: Create cache directory
  ansible.builtin.file:
    group: "{{ group }}"
    mode: "0755"
    owner: "{{ username }}"
    path: "~/.cache/mutt"
    state: directory
- name: Configure neomutt settings
  ansible.builtin.template:
    src: muttrc.j2
    dest: "~/.config/mutt/muttrc"
    owner: "{{ username }}"
    group: "{{ group }}"
    mode: "0644"
- name: Configure neomutt settings
  ansible.builtin.template:
    src: signature.j2
    dest: "~/.config/mutt/signature"
    owner: "{{ username }}"
    group: "{{ group }}"
    mode: "0644"
- name: Configure neomutt settings
  ansible.builtin.template:
    src: msmtprc.j2
    dest: "~/.config/msmtp/config"
    owner: "{{ username }}"
    group: "{{ group }}"
    mode: "0644"
- name: Copy neomutt files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: ~/.config/mutt/
    group: "{{ group }}"
    mode: "0644"
    owner: "{{ username }}"
  loop:
    - vimrc
    - mailcap
