---
- name: Install packages
  ansible.builtin.import_tasks: common/tasks/install_packages.yml
  when: ansible_facts['os_family'] != 'Darwin'
  vars:
    packages:
      - pipx
- name: Install package using pipx
  when: ansible_facts['os_family'] != 'Darwin'
  become: true
  community.general.pipx:
    name: "{{ item.install }}"
    global: true
    install_deps: true
    state: install
  loop: "{{ pip_packages }}"
  # TODO: find a better solution for this
  changed_when: false
- name: Inject packages into pipx environment
  when:
    - ansible_facts['os_family'] != 'Darwin'
    - item.inject is defined
  become: true
  community.general.pipx:
    name: "{{ item.name }}"
    global: true
    state: inject
    inject_packages: "{{ item.inject }}"
  loop: "{{ pip_packages }}"
  changed_when: false
