---
- name: Install packages
  ansible.builtin.import_tasks: common/tasks/install_packages.yml
  when: ansible_os_family != 'Darwin'
  vars:
    packages:
      - pipx
- name: Install package using pipx
  when: ansible_os_family != 'Darwin'
  become: true
  community.general.pipx:
    name: "{{ item }}"
    global: true
    install_deps: true
    state: install
  loop: "{{ pip_packages }}"
  # TODO: find a better solution for this
  changed_when: false
