---
- name: Install casks using brew
  when: ansible_facts['os_family'] == 'Darwin'
  become: false
  community.general.homebrew_cask:
    name: "{{ item }}"
    state: latest
  loop: "{{ brew_casks }}"
