---
- name: Install formulae using brew
  when: ansible_facts['os_family'] == 'Darwin'
  become: false
  community.general.homebrew:
    name: "{{ item }}"
    state: latest
  loop: "{{ brew_formulae }}"
