---
- name: Set the hostname
  become: true
  ansible.builtin.hostname:
    name: "{{ domain_name }}"
- name: Install epel & gnupg2
  become: true
  ansible.builtin.dnf:
    name:
      - epel-release
      - gnupg2
    state: present
  when:
    - ansible_facts["os_family"] == "RedHat"
    - ansible_facts["distribution"] != "Fedora"
  notify: Refresh dnf cache
- name: Install distribution-gpg-keys
  become: true
  ansible.builtin.dnf:
    name: distribution-gpg-keys
    state: present
  when:
    - ansible_facts["os_family"] == "RedHat"
  notify: Refresh dnf cache
- name: Import RPM Fusion GPG keys
  become: true
  ansible.builtin.rpm_key:
    key: "/usr/share/distribution-gpg-keys/rpmfusion/RPM-GPG-KEY-rpmfusion-{{ item }}-{{ 'fedora' if ansible_facts['distribution'] == 'Fedora' else 'el' }}-{{ ansible_facts['distribution_major_version']
      }}"
    state: present
  loop:
    - free
    - nonfree
  when: ansible_facts["os_family"] == "RedHat"
- name: Install RPM Fusion repositories
  become: true
  ansible.builtin.dnf:
    name:
      - "https://download1.rpmfusion.org/free/{{ 'fedora' if ansible_facts['distribution'] == 'Fedora' else 'el' }}/rpmfusion-free-release-{{ ansible_facts['distribution_major_version']
        }}.noarch.rpm"
      - "https://download1.rpmfusion.org/nonfree/{{ 'fedora' if ansible_facts['distribution'] == 'Fedora' else 'el' }}/rpmfusion-nonfree-release-{{ ansible_facts['distribution_major_version']
        }}.noarch.rpm"
    state: present
    disable_gpg_check: false
  notify: Refresh dnf cache
  when: ansible_facts["os_family"] == "RedHat"
# Refresh package cache immediately
- name: Flush handlers
  ansible.builtin.meta: flush_handlers
# This is called from here rather than main.yml as the packages need the repos
- name: Install packages
  ansible.builtin.import_tasks: common/tasks/install_packages.yml
- name: Set timezone to America/New_York
  become: true
  community.general.timezone:
    name: America/New_York
- name: Conditionally disable selinux
  when: sedisable
  block:
    - name: Detect SELinux
      ansible.builtin.stat:
        path: /sys/fs/selinux
      register: selinuxfs
    - name: Disable SELinux if present
      become: true
      ansible.posix.selinux:
        state: disabled
      when: selinuxfs.stat.exists
- name: Remove mail_badpass from sudoers
  ansible.builtin.replace:
    group: root
    mode: "0440"
    owner: root
    path: /etc/sudoers
    regexp: (^Defaults.*mail_badpass$)|(\,mail_badpass)
    replace: ""
    validate: /usr/sbin/visudo -cf %s
  become: true
- name: Adding pwfeedback
  ansible.builtin.copy:
    content: |
      Defaults        pwfeedback
    dest: /etc/sudoers.d/02-pwfeedback
    group: root
    mode: "0440"
    owner: root
    validate: /usr/sbin/visudo -cf %s
  become: true
- name: Ensure /root/.ssh exists
  become: true
  ansible.builtin.file:
    path: /root/.ssh
    state: directory
    owner: root
    group: root
    mode: "0700"
- name: Copy root private key
  become: true
  ignore_errors: true
  ansible.builtin.copy:
    src: "{{ inventory_hostname }}/vault_{{ ssh_key_name }}"
    dest: "/root/.ssh/{{ ssh_key_name }}"
    owner: root
    group: root
    mode: "0600"
- name: Copy root public key
  become: true
  ignore_errors: true
  ansible.builtin.template:
    src: "{{ inventory_hostname }}/{{ ssh_key_name }}.pub.j2"
    dest: "/root/.ssh/{{ ssh_key_name }}.pub"
    owner: root
    group: root
    mode: "0644"
- name: Ensure IPv4 forwarding is enabled
  become: true
  when: "'exit_nodes' in group_names"
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: "1"
    sysctl_file: /etc/sysctl.d/99-tailscale.conf
    state: present
    reload: true
- name: Ensure IPv6 forwarding is enabled
  become: true
  when: "'exit_nodes' in group_names"
  ansible.posix.sysctl:
    name: net.ipv6.conf.all.forwarding
    value: "1"
    sysctl_file: /etc/sysctl.d/99-tailscale.conf
    state: present
    reload: true
# Taken from https://github.com/cisagov/ansible-role-persist-journald
- name: >-
    Ensure that the directory where the systemd-journald drop-in will
    live actually exists
  become: true
  ansible.builtin.file:
    group: root
    mode: u=rwx,g=rx,o=rx
    owner: root
    path: /etc/systemd/journald.conf.d
    state: directory
- name: Configure systemd-journald to persist storage
  become: true
  community.general.ini_file:
    group: root
    mode: u=rw,g=r,o=r
    # This is just to maintain the look and feel of the
    # /etc/systemd/journald.conf file as provided by systemd-journald.
    no_extra_spaces: true
    option: Storage
    owner: root
    path: /etc/systemd/journald.conf.d/99-ansible-role-persist-journald.conf
    section: Journal
    value: persistent
  notify:
    - Restart systemd-journald
