---
- name: Create gnupg directory
  when: ansible_facts['os_family'] == 'Darwin'
  ansible.builtin.file:
    group: "{{ group }}"
    mode: "0700"
    owner: "{{ username }}"
    path: "~/.gnupg"
    state: directory
- name: Add pinentry-mac for gpg
  when: ansible_facts['os_family'] == 'Darwin'
  ansible.builtin.lineinfile:
    path: "~/.gnupg/gpg.conf"
    line: "use-agent"
    mode: "0664"
    create: true
    state: present
- name: Add pinentry-mac for gpg
  when: ansible_facts['os_family'] == 'Darwin'
  ansible.builtin.lineinfile:
    path: "~/.gnupg/gpg-agent.conf"
    line: "pinentry-program /opt/homebrew/bin/pinentry-mac"
    mode: "0664"
    create: true
    state: present