urls-source freshrss
show-read-feeds no
reload-threads 100
auto-reload yes
freshrss-url "https://{{ freshrss_domain }}/api/greader.php"
freshrss-login "{{ ansible_env.USER }}"
freshrss-passwordeval "bw get password cb56dcc6-e4b8-4e26-a2fd-b33d00dad147"
freshrss-flag-star "s"
bind-key j down feedlist
bind-key k up feedlist
bind-key j next articlelist
bind-key k prev articlelist
bind-key J next-feed articlelist
bind-key K prev-feed articlelist
bind-key j down article
bind-key k up article
