
(cloudflare) {
  tls {
    dns cloudflare {{ cloudflare_token }}
  }
}
http://{{ domain_name }} {
  redir https://{{ domain_name }}{uri}
}
https://{{ domain_name }} {
  import cloudflare
}
import sites-enabled/*
