# {{ ansible_managed }}
[global]
        server string = samba
        idmap config * : range = 3000-7999
        security = user
        server min protocol = SMB2

        force user = alex
        force group = alex

        # disable printing services
        load printers = no
        printing = bsd
        printcap name = /dev/null
        disable spoolss = yes

[Paperless]
        path = {{ podman_data_dir }}/paperless-server/consume
        comment = Paperless
        valid users = epson
        browseable = no
        writable = yes
        read only = no

[Ludusavi]
        path = /samba/srv/ludusavi
        comment = Ludusavi
        valid users = ludusavi
        browseable = no
        writable = yes
        read only = no
