# {{ ansible_managed }}
# username:UID:groupname:GID:password:homedir
alex:1000:alex:1000:{{ samba_alex_password }}
epson:1001:alex:1000:{{ samba_epson_password }}
ludusavi:1002:alex:1000:{{ samba_ludusavi_password }}
