---
- name: Add user to libvirt group
  become: true
  ansible.builtin.user:
    name: "{{ username }}"
    groups: libvirt
    append: true
- name: Allow all traffic on virbr0
  become: true
  community.general.ufw:
    rule: allow
    interface_in: virbr0
- name: Allow forwarding to virbr0
  become: true
  community.general.ufw:
    rule: allow
    route: true
    interface_in: virbr0
    interface_out: "{{ ansible_facts['default_ipv4']['interface'] }}"
