account {{ personal_email }}
host {{ personal_email_imap_domain }}
port 465
from {{ personal_email }}
user {{ personal_email }}
passwordeval "bw get password e08469d2-25a9-43cc-bb8a-b205011cddf4"
auth on
tls on
#tls_trust_file	/etc/ssl/cert.pem
tls_trust_file	/etc/ssl/certs/ca-certificates.crt
logfile ~/.local/state/msmtp/msmtp.log
tls_starttls off
