account {{ personal_email }}
host {{ personal_email_imap_domain }}
port 465
from {{ personal_email }}
user {{ personal_email }}
passwordeval "{{ personal_mail_pass_command }}"
auth on
tls on
#tls_trust_file	/etc/ssl/cert.pem
tls_trust_file	/etc/ssl/certs/ca-certificates.crt
logfile ~/.local/state/msmtp/msmtp.log
tls_starttls off
