---
- name: Power off vms
  hosts: hypervisors
  gather_facts: false
  tasks:
    - name: Shutdown vms
      become: true
      community.libvirt.virt:
        name: "{{ item }}"
        state: shutdown
      loop: "{{ defined_vms }}"
      when: defined_vms is defined
